body {
	background-image: url(https://cdn.pixabay.com/photo/2018/01/31/09/57/coffee-3120750_960_720.jpg);
	background-size: cover;
	height: 99%;
}

header {
	border-radius: 10px;
	color: white;
	position: fixed;
	font-family: 'Sansita Swashed', cursive;
	font-size: 1.4em;
	margin: auto;
	padding: 10px;
	width: 97%;
}

header:hover {
	background-color: rgba(0, 0, 0, 0.726);
}

footer {
	border-radius: 10px;
	color: white;
	font-family: monospace;
	font-size: 1.2em;
	justify-content: flex-end;
	margin: auto;
	padding: 10px;
	width: 99%;
}

header nav {
	padding-right: 20px;
}

nav a {
	color: white;
	margin-right: 8px;
	text-decoration: none;
}

.button {
	background-color: rgba(224, 172, 105, 0.486);
	border-radius: 7px;
	border: 1px solid black;
	color: whitesmoke;
	font-family: 'Indie Flower', cursive;
	font-size: 1em;
}

.button:hover {
	background-color: rgba(0, 0, 0, 0.582);
}

.flex-display {
	display: flex;
}

.flexRow {
	flex-direction: row;
	justify-content: space-around;
	width: 80%;
	min-height: 408px;
	margin-top: 15px;
}

.wrap {
	flex-wrap: wrap;
}

div div img {
	min-height: 211px;
	max-height: 211px;
	max-width: 100%;
}

div div p {
	color: black;
}

.coluns {
	background-color: rgba(255, 255, 255, 0.513);
	flex-direction: column;
	padding: 7px;
	height: 33%;
	width: 30%;
}

.justify {
	justify-content: space-between;
}

.central {
	align-items: center;
}

.container-center {
	align-items: center;
	color: whitesmoke;
	flex-direction: column;
	font-family: 'Indie Flower', cursive;
	font-size: 1.2em;
	margin: auto;
	max-width: 80%;
	padding: 25px;
}
